body{
    background-color: #777;
   font-family: Arial, Helvetica, sans-serif;
   color: #777;
   font-size: 18px;
   margin-left:246px;
   margin-right:246px;
   padding:0px;
   width: 960px;
   line-height: 150%
}
#h1{
    background: #ebebeb;
    margin-top:10px;
   text-align: center;
   font-size: 18px;
   padding-top: 40px;
   padding-bottom: 40px; 
} 

#nav{
    background: #ebebeb;
    margin-top:10px;
    margin-bottom: 10px;
   text-align: center; 
   padding-top: 40px;
   padding-bottom: 40px;
   

}

.section{
    background-color:white;
    color:grey;
    width: 59%;
    float: left;
   margin-right: 2%;
   height: 300px;
   text-align: center;
   margin-top: 0px;
}

#headers{
    background-color: white;
    color:grey;

}

#paragraph{
    background-color: white;
    color:grey;
    margin-top: 5px;

}
#article{ 
    background-color: grey;
    color:white;
  
    height: 80px;
    width:435px;
    padding-bottom: 105px;
    padding-right: 60px;
    padding-top: 20px;
    padding-left: 50px;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#aside{
    float:left;
    background-color: white;
    width:39%;
    height:300px;
    text-align: center;
   
}

.clearfix{
    clear:both;
}
 
footer{
    background-color: white;
}